## Visual Studio Specific
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

## .NET Specific
out/
publish/
project.lock.json
project.fragment.lock.json
artifacts/

*.mdf
*.ldf
*.sde

## User-Specific / Local Settings
appsettings.json
appsettings.Development.json
appsettings.Local.json

## Elevation Project Specifics
# Ignore user-uploaded designs/images
wwwroot/uploads/*
!wwwroot/uploads/.gitkeep

## Node/React
node_modules/
dist/
.env.local
.env.development.local